@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap');

body{
    font-family: 'Jua', sans-serif;
    background : #fffff0;
    font-size: 20px;
}

A:link {text-decoration:none; color:black;}
A:visited {text-decoration:none; color:black;}
A:active {text-decoration:none; color:black;}
A:hover {text-decoration:none; color:black;}

