<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="www.gnsoft.zionshelter.mapper.MemberMapper">

    <select id="selectMember" parameterType="MemberVO" resultType="MemberVO">
        SELECT MEM_ID as memberId,
               MEM_PW as memberPassword,
               MEM_IDX as memberIdx,
               MEM_NM as memberName,
               MEM_PH as memberPhoneNumber,
               MEM_ZIPCODE as memberZipcode,
               MEM_ADDR1 as memberAddress1,
               MEM_ADDR2 as memberAddress2,
               MEM_DVSN as memberDivision
        FROM MEMBER
            WHERE MEM_ID = #{memberId} AND
                  MEM_PW = #{memberPassword}
    </select>
    
    <select id="idCheck" parameterType="MemberVO" resultType="MemberVO">
        SELECT MEM_ID as memberId,
               MEM_PW as memberPassword,
               MEM_IDX as memberIdx,
               MEM_NM as memberName,
               MEM_PH as memberPhoneNumber,
               MEM_ZIPCODE as memberZipcode,
               MEM_ADDR1 as memberAddress1,
               MEM_ADDR2 as memberAddress2,
               MEM_DVSN as memberDivision
        FROM MEMBER
        WHERE MEM_ID = #{memberId}
    </select>

    <insert id="registerMember" parameterType="memberVO">
        INSERT INTO MEMBER(MEM_ID, MEM_PW, MEM_NM, MEM_PH, MEM_ZIPCODE, MEM_ADDR1, MEM_ADDR2)
                VALUES(#{memberId}, #{memberPassword}, #{memberName}, #{memberPhoneNumber}, #{memberZipcode}, #{memberAddress1}, #{memberAddress2})
    </insert>
<!--    <insert id="testInsert">-->
<!--        INSERT INTO BOARD VALUES(100,1,1,1,1,1);-->
<!--    </insert>-->

</mapper>